.textAreaWrapper {
    display: flex;
    flex-direction: column;
    gap: 0.25rem;

    width: 50vw;
}

.textarea {
    font-family: "Roboto", sans-serif;
    color: #0f0f0f;
    background-color: #f0f0f0;
    border: none;
    border-radius: 0.5rem;
    
    resize: none;
    padding: 1rem;

    &::placeholder {
        color: #0f0f0f;
    }
}

@media (max-width: 480px) {
    .textAreaWrapper {
        width: 90vw;
    }
}