.primary {
    display: flex;
    justify-content: center;

    font-family: "Roboto", sans-serif;
    color: #f0f0f0;
    background-color: #2e3236;
    border: none;
    border-radius: 0.5rem;
    padding: 1rem;
}